body{
  font-family: 'Courier New', Courier, monospace;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 100%;
  padding: 50px;
  border-radius: 10px;
  border: 4px solid rgb(29, 58, 112);
  background-color: rgb(211, 226, 255);
}

.container h1 {
  font-size: 3.5em;
  margin: 0;
  color: rgb(23, 46, 87);
}

.buttons{
  display: flex;
  gap: 100px;
}

.add{
  padding: 10px;
  font-size: 1em;
  border-radius: 8px;
  border: 2px solid rgb(52, 78, 124);
  background-color: rgb(9, 46, 110);
  color: white;
  font-family: 'Courier New', Courier, monospace;
  cursor: pointer;
}

.add:hover{
  background-color: rgb(35, 79, 155);
  color: white;
}

.delete{
  padding: 10px;
  font-size: 1em;
  border-radius: 8px;
  border: 2px solid rgb(84, 13, 21);
  background-color: rgb(125, 16, 28);
  color: white;
  font-family: 'Courier New', Courier, monospace;
  cursor: pointer;
}

.delete:hover{
  background-color: rgb(175, 34, 51);
  color: white;
}

.insert{
  padding: 10px;
  font-size: 1em;
  border-radius: 8px;
  border: 2px solid rgb(21, 70, 9);
  background-color: rgb(40, 120, 20);
  color: white;
  font-family: 'Courier New', Courier, monospace;
  cursor: pointer;
}

.insert:hover{
  background-color: rgb(54, 151, 30);
  color: white;
}

.us-buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.up{
  padding: 3px;
  width: 30px;
  border-radius: 5px;
  border: 2px solid rgb(68, 70, 9);
  background-color: rgb(145, 149, 27);
  color: white;
  font-family: 'Courier New', Courier, monospace;
  cursor: pointer;
}

.up:hover{
  background-color: rgb(193, 199, 38);
  color: white;
}

.del{
  padding: 3px;
  width: 30px;
  border-radius: 5px;
  border: 2px solid rgb(70, 9, 21);
  background-color: rgb(154, 24, 50);
  color: white;
  font-family: 'Courier New', Courier, monospace;
  cursor: pointer;
}

.del:hover{
  background-color: rgb(201, 36, 69);
  color: white;
}

table {
  width: 80%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 5px;
  text-align: left;
  border-bottom: 1px solid rgb(9, 46, 110);
  text-align: center;
}

th {
  background-color: rgb(30, 42, 62);
  font-weight: bold;
  color: white;
}

tr:hover {
  background-color: rgb(172, 203, 255);
}

.form{
  display: flex;
  flex-direction: column;
  padding: 40px;
  gap: 30px;
  margin-top: 50px;
  margin-bottom: 50px;
  border: 4px solid rgb(84, 176, 247);
  border-radius: 6px;
}

.form-block{
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 1.2em;
}

.form-block input{
  font-size: 1.2em;
  padding: 5px;
  border: none;
  border-radius: 5px;
  background-color:rgb(255, 255, 255) ;
}